.container{
    margin: 60px 50px;
    margin-bottom: 90px;
    display: block;
}

/* mobile */
@media (min-width: 320px) {
    .container{
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 0;
    }
}

/* tablet */
@media (min-width: 640px) {
    .container{
        margin-right: auto;
        margin-left: auto;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    .container{
        margin: 60px 50px;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .container{
        margin: 60px 50px;
    }
}